body
{
	background-image: url("../images/login.jpg");
	color: white;
	font-family: courier new;
	margin:0;
}
#title
{
	text-align: center;
	text-transform: capitalize;
	color: white;
	margin:0;
	padding:50px;
	
	border:1px solid white;
	font-size: 80px;
}
.menu
{
	border:1px solid white;
	padding: 30px;
}
.menu ul
{
	margin: 0;
}
.menu  li
{
	display: inline-block;
	color:white;
	font-size: 30px;
	color: #d3d3d3;
}
#activities
{
margin-left:5%;
}
#logout
{
margin-left:50%;
}
#about
{
margin-left:5%;
}
h1
{
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 100px;
	font-weight: bold;
}
#first
{
	text-align: center;
	font-size: 60px;
}
.member
{
	text-align: center;
	font-size: 40px;
}
a{
	text-decoration: none;
	font-family: courier new;
	color: white;
}
